<h3 class="section-title"> Research Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ job.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <dt>
            <p class="title">{{ qualification.qualification }}</p>
            <p class="company">{{ qualification.school }}</p>
            <p class="period">{{ qualification.supervisor }}</p>
             
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
            <p>{{ qualification.courses }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Publications</h3>
<dl class="publication">
    {% for pub in site.data.publication %}
        <dt>
            <p class="title">{{ pub.title }}</p>
            <p class="company">{{ pub.DOI }}</p>
            <p class="period">{{ pub.Journal }}</p>
        </dt><!--
        --><dd>
            <p>{{ qualification.description }}</p>
        </dd>
    {% endfor %}
</dl>